@tailwind base;
@tailwind components;
@tailwind utilities;

:root:has(
        :is(
                .modal-open,
                .modal:target,
                .modal-toggle:checked + .modal,
                .modal[open]
            )
    ) {
    scrollbar-gutter: auto;
}

/* Animaciones personalizadas para el sidebar */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.animate-fadeIn {
    animation: fadeIn 0.3s ease-in-out;
}

/* Opcional: Animación para el sidebar */
@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

.animate-slideIn {
    animation: slideIn 0.3s ease-in-out;
}

/* Estilos adicionales para mejorar la experiencia */
.no-scrollbar {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
}

.no-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}